{% load static %}
<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>SkillHub</title>
      <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
      <nav>
          <h1>SkillHub</h1>
          <ul>
                <li><a href="/">Home</a></li>
                {%if user.is_authenticated %}
                    <li><a href="{% url 'main_app:skills_list' %}">Skills</a></li>    
                    <li><a href="{% url 'main_app:projects_list' %}">Projects</a></li>
                      <li><a href="{% url 'main_app:profile' %}">Profile</a></li>
                    <li><a href="{% url 'main_app:logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'main_app:login' %}">Login</a></li>
                    <li><a href="{% url 'main_app:signup' %}">Sign Up</a></li>
                {% endif %}
              
          </ul>
      </nav>

      <main>
          {% block content %}
          {% endblock %}
      </main>
  </body>
  </html>