{% extends 'main_app/base.html' %}


{% block content %}
  <h2>My Projects</h2>
   <a href="{% url 'main_app:project_create' %}" class="btn-primary">Add New Project</a>

  
{% if projects %}
  <ul>
    {% for project in projects %}
      <li>
        <h3>{{ project.title }}</h3>
          <p>{{ project.description }}</p>
          <p>Progress: {{ project.progress }}%</p>
          <div class="project-actions">
          <a href="{% url 'main_app:project_edit' project.id %}" class="btn-edit">Edit</a>
          <a href="{% url 'main_app:project_delete' project.id %}" class="btn-delete">Delete</a>
      </div>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No projects added yet.</p>
{% endif %}


<a href="/">Back to Home</a>
{% endblock %}