{% extends 'main_app/base.html' %}

  {% block content %}
  <div class="form-container">
      <h2>{{ action }} Project </h2>
      <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn-primary">{{ action }} Project</button>
          {% if project %}
            <a href="{% url 'main_app:project_detail' project.id %}" class="btn-secondary">Cancel</a>
          {% else %}
            <a href="{% url 'main_app:projects_list' %}" class="btn-secondary">Cancel</a>
          {% endif %}
      </form>
  </div>
  {% endblock %}

