{% extends 'main_app/base.html' %}

  {% block content %}
  <div class="form-container">
      <h2>{{ action }} Skill</h2>

      {% comment %} {% if skill %}
          <p><strong>For Skill:</strong> {{ skill.title }}</p>
      {% elif project %}
          <p><strong>For Project:</strong> {{ project.title }}</p>
      {% elif task.skill %}
          <p><strong>For Skill:</strong> {{ task.skill.title }}</p>
      {% elif task.project %}
          <p><strong>For Project:</strong> {{ task.project.title }}</p>
      {% endif %} {% endcomment %}

      {% if skill %}
      <p><strong>Editing Skill:</strong> {{ skill.title }}</p>
      {% endif %}

      <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn-primary">{{ action }} Skill</button>
          {% if skill %}
            <a href="{% url 'main_app:skill_detail' skill.id %}" class="btn-secondary">Cancel</a>
          {% else %}
            <a href="{% url 'main_app:skills_list' %}" class="btn-secondary">Cancel</a>
          {% endif %}
      </form>
  </div>
  {% endblock %}